<!DOCTYPE html>
<html>

   <head>
      <title>Homepage</title>
   </head>

   <body style="text-align: center;">
      <h1>Welcome to the Home Page</h1>
      <p>Total tickets created: <%= ticketCount %></p>
   </body>

</html>